.register{
  width: 100px;
  border-radius: 12px;
  background-color: #9F97D6;
 border: none;
 color: #ffffff;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin-right: 20px;
}
.login{
  width: 100px;
  border-radius: 12px;
  background-color: #948F8F;
 border: none;
 color: #ffffff;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin-right: 10px;
}
.registerLayout{
  width:40%;
  padding: 10px;
  margin: 5% auto;
}
#registerTitle{
  text-align: center;
  margin-bottom: 2%;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
.createAccount{
  width: 30%;
  border-radius: 12px;
  background-color: dodgerblue;
 border: none;
 color: #ffffff;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 text-decoration: none;
 display: block;
 font-size: 16px; 
 margin: 0 auto;
 
}
.img{
width: 20%;
height: 20%;
}
.profile{
width:40%;
padding: 10px;
margin: 5% auto;
}
.profileInput{
margin-top: 5%;
padding-left: 15px;
}
.createProfile{
width: 30%;
border-radius: 12px;
background-color: #9F97D6;
border: none;
color: #ffffff;
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
text-decoration: none;
display: block;
font-size: 16px; 
margin-left:auto;

}
.profileLayout{
border-radius: 5%;
width:40%;
padding: 10px;
margin: 5% auto;
background-color: #969FFF;
}
.btn-group button {
margin-top: 2%;
margin-left: 2%;
color: white; /* White text */
 /* Some padding */
cursor: pointer; /* Pointer/hand icon */
float: right; /* Float the buttons side by side */
}
.cardProfile{
border-radius: 15px;
margin-left: 1%;
margin-top: 5%;
background-color: #9F97D6;
width: 60%;
}
.description{
float: right;
}
.vl {
margin-top: 2%;
border-left: 1px solid white;
}
.profilePicture {
width: 100px;
height: 100px;
border-radius: 50%;
float: right;
}
.arrow{
width:5%;
height: 5%;
margin-top: 15%;
}