.register{
  width: 100px;
  border-radius: 12px;
  background-color: #9F97D6;
 border: none;
 color: #ffffff;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin-right: 20px;
}
.login{
  width: 100px;
  border-radius: 12px;
  background-color: #948F8F;
 border: none;
 color: #ffffff;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin-right: 10px;
}
.registerLayout{
  width:40%;
  padding: 10px;
  margin: 5% auto;
}
#registerTitle{
  text-align: center;
  margin-bottom: 2%;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
.createAccount{
  width: 20%;
 border: none;
 color: #ffffff;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 text-decoration: none;
 display: block;
 font-size: 16px; 
 margin: 0 auto;
 background: rgba(159, 151, 214, 0.6);
 border-radius: 50px;
 
}
.img{
width: 25%;
height: 25%;
}
.profile{
width:40%;
padding: 10px;
margin: 5% auto;

}
.profileInput{
margin-top: 5%;
padding-left: 15px;
}
.createProfile{
width: 30%;
border-radius: 12px;
background-color: #9F97D6;
border: none;
color: #ffffff;
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
text-decoration: none;
display: block;
font-size: 16px; 
margin-left:auto;

}
.profileLayout{
border-radius: 5%;
width:40%;
padding: 10px;
margin: 5% auto;
background-color: #9F97D6;
background: rgba(159, 151, 214, 0.17);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.chenarCreateProfile{
border-radius: 5%;
width:80%;
height: 30%;
padding: 10px;
margin-top: 10%;
margin-right:70%;
background-color: #9F97D6;
background: rgba(159, 151, 214, 0.17);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-group button {
margin-top: 2%;
margin-left: 2%;
color: white; /* White text */
 /* Some padding */
cursor: pointer; /* Pointer/hand icon */
float: right; /* Float the buttons side by side */
}
.cardProfile{
border-radius: 15px;
margin: 0 auto;
margin-top: 5%;
background-color: #9F97D6;
background: rgba(159, 151, 214, 0.17);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
width: 60%;
}
.description{
float: right;
}
.vl {
margin-top: 2%;
border-left: 1px solid white;
}
.profilePicture {
width: 100px;
height: 100px;
border-radius: 30%;
}
.arrow{
width:5%;
height: 5%;
margin-top: 20%;
}
.chenar{
position: absolute;
width: 60%;
height: 20%;
left: 30%;
top: 20%;
background-color: #9F97D6;
background: rgba(159, 151, 214, 0.17);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text{
position: absolute;
font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 200%;
line-height: 42px;
text-align: center ;
color: #000000;
left: 25%;
top: 25%;
}
.subText{
position: absolute;
width: 50%;
height: 20%;
left: 36%;
top: 33%;

font-family: 'Inconsolata';
font-style: normal;
font-weight: 300;
font-size: 150%;
line-height: 25px;
text-align: center;

color: #000000;
}
.lookingFor{
width: 20%;
height: 49px;
margin-left: 5%;
background-color: #ffffff;
}
.careerField{
width: 20%;
height: 49px;
margin-left: 2%;
background-color: #ffffff;
box-sizing: border-box;
border: 3px solid #ccc;
}
.insertField{
width: 60%;
height: 49px;
margin-left: 2%;
background-color: #ffffff;
padding-left: 2%;
margin-top: 2%;
}
::placeholder{
color: #000000;
}
.border{
width: 200px;
height: 0px;
border: 1px solid #000000;
}
.textCreateProfile{
font-family: 'Sansation';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 45px;
text-align: center;
margin: 0 auto;
}
.registerBtn{
width: 30%;
border: none;
color: #ffffff;
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
text-decoration: none;
display: block;
font-size: 16px; 
margin: 0 auto;
background-color: #7D36D8;
border-radius: 50px;
}
.insertProfile{
border-radius: 5%;
width:40%;
padding: 10px;
margin-top: 5%;
margin-left: 23%;
background-color: #9F97D6;
background: rgba(159, 151, 214, 0.17);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}